<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AI-NIDS</title>
		<meta charset="UTF-8">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="http://127.0.0.1:5000/">AI Based NIDS</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
<nav id="menu">
				<ul class="links">
					<li><a href="http://127.0.0.1:5000/">Home</a></li>
				</ul>
</nav>


		<!-- Heading -->
			<div id="heading" >
				<h1>Artificial Intelligence based Network Intrusion Detection</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">

				<div class="inner">
					<div class="content">
						<header>
							<h2>Place your PCAP file</h2>
						</header>
						<p>File must be of PCAP format</p>
						<p>{{instruction}}</p>
 <form class="col s12" enctype= multipart/form-data method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input type=file name=file>
        </div>
      </div>
        <button class="btn waves-effect waves-light" type="submit" value=Upload>Upload</button>
      </form>

						<hr />
						<h3>Introduction</h3>
						<p>Intrusion Detection Systems are used to detect any malicious or anomalous data in the network traffic. Basic idea is to classify network traffic into either normal or ma-licious. This thesis aims to address the issues of anomaly-based network intrusion and an approach to classify network data using machine learning-based techniques. A lot of research has been done on using machine learning and artificial intelligence for network intrusion detection systems. This project focuses on network traffic fea-tures extracted from CICFlowMeter that have been identified as the most important features in recent research. 
</p>

<p>
CICFlowMeter is an open-source tool intended to extract 84 network traffic features proposed in the paper. These features as published in this paper representing some good features of the network traffic. This tool takes the traffic capture file and generates a CSV file based on those 84 features. These features are based on the OSI layer 3 and layer 4 heading information and other time and volume-based infor-mation of the network traffic such as the number of bytes, packets, durations, etc for both forward and backward directions. Layer 3 header specifies source IP, destina-tion IP, and type of service whereas layer 4 has lots of header flags including source and destination ports, sequence number, acknowledgment number, and other flags like URG, ACK, PSH, RST, SYN, and FIN. It generates both TCP and UDP flows. UDP flow mostly ends with the flow timeout whereas TCP flows either end with FIN packet or flow timeout. Default flow timeout is 120000000 microseconds that is 120 seconds.

</p>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Network Attacks Classification</h3>
							<p>About machine learning</p>
						</section>
						<section>
							<h4>Team members</h4>
							<ul class="alt">
								<li><a href="#">Muhammad Ali</a></li>
								<li><a href="#">Dr. Anila Usman</a></li>
								<li><a href="#">Dr. Kashif Saghar</a></li>
							</ul>
						</section>
						<section>
							<h4>Contact</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; FYP DEMO <a href="https://google.com">DCIS</a>, CyS <a href="https://google.com">PIEAS</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
